/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "base/definitions";
@import "base/variables";

@import "shared/flashes";

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: lighter;
  background-color: $grey-lighter;
}

.jumbotron {
  background-color: $base-primary-color;
  height: 75px;
}

.jumbotron p{
  color: #fff;
  margin-bottom: 0px;
}

.grey-text {
  color: $text-grey;
  font-weight: lighter;
}

.darker-grey {
  color: $text-darker-grey;
}

.no-margin {
  margin: 0px;
}

.float-right {
  float: right;
}

.lead, .lead:hover {
  color: #fff;
  text-decoration: none;
}


@media screen and (max-width: 768px) {
  .responsive-list {
    margin-bottom: 5px;
  }
}
