<h3>Accepts:</h3>
<% if @organization.eligibilities.any? %>

  <ul id='resizing_list' class='list-group'>
    <% @organization.eligibilities.each do |eligibility| %>
        <li class='list-group-item darker-grey'><%= eligibility.name %></li>
    <% end %>
  </ul>
<% else %>
  <p class='darker-grey'>This organization has no eligibilities assigned to it.</p>
<% end %>
