

<% provide(:title, "All Organizations") %>
<div class='container'>
  <div class='row'>
    <div class="col-md-4">
      <%= render 'filters' %>
    </div>

    <div class='col-md-8'>
      <ul class='list-group'>
        <%= render @organizations %>  
      </ul>
    </div>
  </div>
</div>
